/* This file contains all global styles */

/* All content of a page should be wrapped in a div with the content class */
.content {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: floralwhite;
}

h1 {
  color: darkblue;
  margin: 10px 0px 5px 0px;
}

p {
  font-family: Arial, sans-serif;
  font-size: medium;
  color: black;
}

button {
  background-color: orange;
  border-color: orangered;
  color: white;
}


