/*
.property-image {
  text-align: center;
}

.property-image img {
  max-width: 100%;
  height: auto;
}

.property-details {
  margin-top: 20px;
}

.property-details p {
  margin-bottom: 10px;
}

.property-details strong {
  font-weight: bold;
}

.property-details p:first-child {
  font-size: 18px;
  font-weight: bold;
}

.property-details p:last-child {
  margin-bottom: 0;
}
*/
